        body
        {
            width:100%;
            height:100%;
            margin:0;
        }

        .mc 
        {
            top:200px;
            /*width:100%;*/
            height:240px;/*240*//*480*/
            /*height:480px;/*240*//*480*/
            background-color:aqua;
        }

        .header {
            float:left;
            height:100px;
            width:100%;
            background-color:antiquewhite;
        }

        .mainContent
        {
            float:left;
            width:100%;
            /*position:absolute;*/
        }
        .leftPanel
        {
            float:left;
            width: calc(50% - 160px);/*170*//*320*/
            /*width: calc(50% - 320px);/*160*//*320*/
            background-color:blue;
            /*position:relative;*/
            height:600px;
        }
        .content
        {
            float:left;
            width:70%;
            /*position:relative;*/
            min-width:320px;/*320*//*640*/
            max-width:320px;/*320*//*640*/
            /*min-width:640px;/*320*//*640*/
            /*max-width:640px;/*320*//*640*/
        }
        .rightPanel
        {
            float:right;
            width: calc(50% - 160px);/*170*//*320*/
            /*width: calc(50% - 320px);/*160*//*320*/
            background-color:coral;
            /*position:relative;*/
            height:600px;
        }
        .divControls{
            float:left;

        }
        .divJump{
            float:right;
        }